flow1.py
[{"id":"ba391ab9.f14048","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"dea93701.74f548","type":"rpi-gpio in","z":"ba391ab9.f14048","name":"button","pin":"7","intype":"up","debounce":"25","read":false,"x":70,"y":220,"wires":[["791b00e.a3c81","998a76d0.71e278"]]},{"id":"793df463.e8698c","type":"rpi-gpio out","z":"ba391ab9.f14048","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":680,"y":320,"wires":[]},{"id":"791b00e.a3c81","type":"debug","z":"ba391ab9.f14048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":160,"wires":[]},{"id":"998a76d0.71e278","type":"switch","z":"ba391ab9.f14048","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":220,"y":360,"wires":[["9f831519.26dae8"],["92fe348.e5c85c8"]]},{"id":"9f831519.26dae8","type":"change","z":"ba391ab9.f14048","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":280,"wires":[["793df463.e8698c"]]},{"id":"92fe348.e5c85c8","type":"change","z":"ba391ab9.f14048","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":380,"wires":[["793df463.e8698c"]]}]
