flow2.py
[{"id":"68a989d0.35cc68","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"ab0c6af9.6987a8","type":"inject","z":"68a989d0.35cc68","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"0","x":230,"y":140,"wires":[["acf7f3fb.bb436"]]},{"id":"acf7f3fb.bb436","type":"function","z":"68a989d0.35cc68","name":"Payload","func":"msg.headers={\n    DeviceKey: \"PzPFDnBPU1K1aPnP\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":200,"wires":[["d03329f1.617db8","210b0b16.5052d4"]]},{"id":"d03329f1.617db8","type":"http request","z":"68a989d0.35cc68","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DJi09Uzn/datachannels/Temperature/datapoints.csv","tls":"","x":680,"y":280,"wires":[["6832bac1.0350f4","b2c30f65.9ea9"]]},{"id":"6832bac1.0350f4","type":"http response","z":"68a989d0.35cc68","name":"温度","statusCode":"","headers":{},"x":860,"y":280,"wires":[]},{"id":"b2c30f65.9ea9","type":"debug","z":"68a989d0.35cc68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":840,"y":360,"wires":[]},{"id":"210b0b16.5052d4","type":"http request","z":"68a989d0.35cc68","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DJi09Uzn/datachannels/Humidity/datapoints.csv","tls":"","x":660,"y":360,"wires":[["c7ae2719.355848","a8e5ac6b.b18e5"]]},{"id":"c7ae2719.355848","type":"http response","z":"68a989d0.35cc68","name":"湿度","statusCode":"","headers":{},"x":840,"y":440,"wires":[]},{"id":"a8e5ac6b.b18e5","type":"debug","z":"68a989d0.35cc68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":540,"wires":[]}]
